<div>
  <h4>Fixtures</h4>
  <% if @user.fixtures.any? %>
    <%@user.fixture.each do |fixture| %>
      <div id="content-platform">
        <%= link_to "View", fixture_path(fixture) %>
        <p id="spacer">|</p>
        <%= link_to "Edit", edit_fixture_path(fixture) %>
      </div>   
    <% end %>
  <% end %>
</div>
<%= link_to "Add Fixture", new_fixture_path, class: "btn btn-primary" ,id: "add-helper" %>
