
<% provide(:title, @user.first_name)%>
<h1>
  <%= gravatar_for @user %>
  <% name = @user.first_name.downcase + " " + @user.last_name.downcase%>
  <%= name.titleize  %>
</h1>

<%= @user.first_name %>, <%= @user.email %>