<!DOCTYPE html>
<html>
  <head>
    <title>panCake!</title>

    <%=render 'layouts/shim'%>
  </head>
  <body>
    <%=render "layouts/navigation"%>
    <div class="container">
      <%= link_to "Sign Up!", signup_path %>
    </div>
  </body>


</html>
