<!DOCTYPE html>
<html>
<head>
  <title>panCake!</title>
  <%=render 'layouts/shim'%>
</head>
<body class="home">
  <div class="container">
    <div>
      <div class="showcase">
        <h1 class="animated rollIn" id="showcase-title">Pancake</h1>
        <h1 id="spacer" class="animated bounceIn">|</h1>
        <h1 id="showcase-subtitle" class="animated fadeIn">Volleyball Stat Tracking</h1>
      </div>
    </div>
  </div>
</body>
</html>
