<!DOCTYPE html>
<html>
  <head>
    <title>panCake!</title>
    <%=render 'layouts/shim'%>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <%= 
          <h1 >Set Touches</h1>
        </div>
      </div>
    </div>
    <%= link_to "Add Touches",new_match_set_touch_path(@match_set), class: "btn btn-primary" %> 
  </body>
</html>