<!DOCTYPE html>
<html>
  <head>
    <title>panCake!</title>
    <%=render 'layouts/shim'%>
  </head>
  <body>
    <%= link_to "Add Touches",new_match_set_touch_path(@match_set), class: "btn btn-primary" %> 
  </body>
</html>