

@import "bootstrap-sprockets";
@import "bootstrap";


#logo{
  font-family: 'Painter';
  color: #EB7B2D;
  font-size: 30px;
}

#navBar{
  background-color: #333;
  //background-color: #367ABD;
  border-style: none;
}

