

@import "bootstrap-sprockets";
@import "bootstrap";

html, body {
   height: 100%;
}

#logo{
  font-family: 'Painter';
  color: #EB7B2D;
  font-size: 30px;
}

#navBar{
  background-color: #333;
  //background-color: #367ABD;
  border-bottom-color: #367ABD;
  border-bottom-style: solid 3px;
}

.btn{
  margin-top: 2%;
  background-color: #EB7B2D;
  border:0px solid transparent;
  //color: #367ABD;
}

/*Forms*/
.form-title{
  font-family: 'Quicksand Book';
  color: #EB7B2D;
  text-align: center;
}

.form-platform{
  font-family: 'Quicksand Bold';
  color: white;
  margin-top: 10%;
  background-color: #333;
  border: 1px solid white;
  border-radius: 20px;
  width:60%;
  margin-left: 20%;
}

#regHelper{
   color: white;
}

.error{
  color: red;
}

/*Navigation*/


//Nav options
.navbar-default .navbar-nav > li > a {
    color: white;
    font-family: 'Quicksand Bold';
}

.navbar-default .navbar-nav > li > a:hover {
    background-color: #EB7B2D;
}


